body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }
    
    h1 {
      text-align: center;
    }
    
    #chat-container {
      border: 1px solid #ccc;
      padding: 10px;
      height: 300px;
      overflow-y: scroll;
    }
    
    form {
      margin-top: 20px;
    }

input {
  width: 80%;
  height: 40px;
  border-width: 1px;
  border-radius: 15px;
  transition: 0.5s;
  outline-width: 0;
  text-align: center;
  padding-right: 20px;
  
}
    input:hover {
      outline-width: 0;
      filter: brightness(85%);
      border-width: 2px;
      transition: 0.5s;
      border-radius: 30px;
    }

    button {
      padding: 5px 10px;
      margin-left: 10px;
    }
    
    #name-changer {
      margin-top: 10px;
    }